body {
  font-family: "Montserrat", serif;
  color: #fa704a;
}

select {
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  color: #fa704a;
  border: solid #4a3840;
  font-family: "Montserrat", serif;
}

h1 {
  text-align: center;
  font-family: "DynaPuff", sans-serif;
  font-size: 2rem;
  color: #4a3840;
  margin-top: 10px;
}

h2 {
  font-family: "DynaPuff", sans-serif;
  color: #99805f;
  margin: 5px 0;
}

p {
  margin: 8px 0;
}

small {
  font-size: 1rem;
}

footer {
  color: #fbf2d5;
}

a {
  color: #fbf2d5;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  border: solid #4a3840 3px;
  border-radius: 10px;
  background-image: url("./vecteezy_forest-seamless-pattern-with-foxes-and-hares-vector-graphics_13279379.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.current-city {
  background-color: #fbf2d5;
  border-radius: 7px;
  padding: 1px 10px 10px 10px;
  margin: 5px auto;
  max-width: 80%;
}

.current-city-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container-cities {
  background-color: #fbf2d5;
  border-radius: 7px;
  max-width: 80%;
  margin: 5px auto;
  padding: 1px 10px 10px 10px;
}

.city {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: dashed #99805f 2px;
  padding: 10px 0 15px 0;
}

.city:last-child {
  border-bottom: none;
  padding: 10px 0;
}

.time {
  font-size: 2rem;
}

.date {
  align-self: flex-end;
}

#update-city {
  color: #4a3840;
}

#update-link {
  margin-top: 10px;
}

/*
first color: #4A3840;
second color: #99805f
third color: #FA704A
fourth color: #fbf2d5;
*/
